*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}
main{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #080808;
  color: #f7f7f7;
}
h1{
  padding: 10px;
}